{% extends 'base.html'%} {% block content %}

<form method="post" action="{% url 'addstudent' %}">
  {% csrf_token %}
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input
        name="sname"
        type="text"
        class="form-control mb-2"
        id="inlineFormInput"
        placeholder="student Name"
        required
      />
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <input
          name="age"
          type="number"
          class="form-control"
          id="inlineFormInputGroup"
          placeholder="age"
          required
        />
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <input
          name="track_id"
          type="number"
          class="form-control"
          id="inlineFormInputGroup"
          placeholder="track ID"
          required
        />
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
