{% extends 'base.html'%}

    {% block content %}

 <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student</th>
          <th scope="col">TrackName</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {%for student in students%}
        <tr>
          <th scope="row">{{student.id}}</th>
          <td>
            <a href="{% url 'studentdetails' student.id %}"
              >{{student.student_name}}</a
            >
          </td>
          <td>{{student.track.track_name}}</td>
          <td>
            <a
              href="{% url 'studentdelete' student.id %}"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

   
{% endblock %}

